{% extends "base.html" %}



{% block nav %}
<a class="nav-item nav-link" href="">Rooster aanmaken</a>
<a class="nav-item nav-link" href="">Cursus toevoegen</a>
<a class="nav-item nav-link" href="">Programmeertaal toevoegen</a>
<a class="nav-item nav-link" href="">Mijn gegevens aanpassen</a>
<a class="nav-item nav-link" href="/uitloggen">Uitloggen</a>
{% endblock %}

{% block content %}
<style>
    h5 {
        text-align: center;
    }
    
    #cursus {
        text-align: center; 
        margin: auto;
        width:50%;  
        margin-bottom:20px; 
        background-color: blue; 
        color:white;
    }
        
    </style>

<div class="container">
    
    <div style="top:10px;" class="alert alert-primary" role="alert">

        Welkom terug!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
</div>
<hr>
<h5 style="text-align: center; color: black;">Aankomende lessen:</h5>
     




{% endblock %}