{% extends "base.html" %}


{% block style %}
  {{ super() }}

body {
   background-color:lightgrey;

}


{% endblock %}


{% block content %}
   <div id="header">
   
   <h1 style="color:white;">Inloggen</h1>
   <br>
   <h5 style="color:white;">Om deel te nemen aan de cursussen, log hier in!</h5>

   </div>
   
   
   <div class="login-box">
      <form method="POST">
         <input type="email" placeholder="Uw emailadres" class="form-control">
         <br>
         <input type="password" placeholder="Uw wachtwoord" class="form-control">
         <br><br><br>
         <button type="submit" style="margin: auto;" class="btn btn-primary">Inloggen</button>


      </form>
   </div>
{% endblock %}