{% extends 'base.html' %}
{% block style %}
{{ super() }}


body {
   background-color: #3D6483;

   }

#header {

   width: 100%;
   height:250px;
   
   
   text-align: center;
   background-image: url('https://dpanoply.s3.amazonaws.com/blog/wet-frosted-glass-effect/02.jpg');
   background-size: cover;
   text-align: center;
   

}

hr {
   background-color: white;
   height: 10px;
}

p {
   text-align: center;
   color: white;



}

.form-control {
   position: relative;
   width: 300px;
}

.login-box {

   margin:auto;
   width: 50%;
   height: 400px;
   text-align: center;
}   



.niceform {
    padding: 30px;
}




}

h5 {
   color: white;

}



{% endblock %}
{% block nav %}
<a class="nav-item nav-link" href="{{ url_for('docenten.roosters')}}">roosters</a>
<a class="nav-item nav-link" href="{{ url_for('docenten.gegevens')}}">gegevens</a>
<a class="nav-item nav-link" href="{{ url_for('docenten.cursussen')}}">lessen</a>
<a class="nav-item nav-link" href="{{ url_for('docenten.talen')}}">talen</a>
<a class="nav-item nav-link" style="float: right;" href="/uitloggen">uitloggen</a>
{% endblock %}
{% block content %}
<h1>Verander hier uw email-adres</h1>
<form method="post" class="niceform">
{{ form.hidden_tag() }}
{{ form.email.label(class="texts") }} {{ form.email(class="form-control") }}
<br>
{{ form.submit }}
</form>
{% endblock %}