    {% extends 'base.html' %}
    {% block style %}
    {% endblock %}
    {% block nav %}
    <a class="nav-item nav-link" href="{{ url_for('docenten.roosters')}}">roosters</a>
    <a class="nav-item nav-link" href="{{ url_for('docenten.gegevens')}}">gegevens</a>
    <a class="nav-item nav-link" href="{{ url_for('docenten.cursussen')}}">lessen</a>
    <a class="nav-item nav-link" href="{{ url_for('docenten.talen')}}">talen</a>
    <a class="nav-item nav-link" style="float: right;" href="/uitloggen">uitloggen</a>
    {% endblock %}
    {% block content %}
    <form method="post">
    {{ form.hidden_tag() }}
    {{ form.taal.label }} {{ form.taal }}
    <br>
    {{ form.start.label }} {{ form.start }}
    <br>
    {{ form.locatie.label }} {{ form.locatie }}
    <br>
    {{ form.submit }}
    </form>
    {% endblock %}